<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhv7yMmo2T0LYO60WHcTT6_HlvSPB16W8</string>
	<key>GCM_SENDER_ID</key>
	<string>608706635047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasecourse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-course-352e8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-course-352e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608706635047:ios:0222dbde2aaec62271b502</string>
</dict>
</plist>